rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Match the path where your user images are stored
    match /userUploads/{userId}/{allPaths=**} {

      // Allow a user to upload (create) files only to their own folder.
      allow create: if request.auth.uid == userId;

      // Allow anyone to read (get) the images.
      allow get;

      // Deny updates or deletes from the browser for safety.
      allow update, delete: if false;
    }
  }
}